{% filter escape %}
    <div class="row item_box">
        <div id="coupon_CouponDetails___name__" style="display: none">
            <input type="hidden" id="coupon_CouponDetails___name___Product" name="coupon[CouponDetails][__name__][Product]" class="form-control" />
        </div>
        <input type="hidden" id="coupon_CouponDetails___name___id" name="coupon[CouponDetails][__name__][id]" class="form-control" value="" />
        <input type="hidden" id="coupon_CouponDetails___name___coupon_type" name="coupon[CouponDetails][__name__][coupon_type]">

        <div class="col-11 item_detail">
            <div class="item_name_area">
                <strong class="item_name">
                    <div id="coupon_CouponDetails___name___product_name"></div>
                </strong><br>
            </div>
        </div>
        <div class="col-1 icon_edit">
            <button class="btn btn-default btn-sm delete-item">削除</button>
        </div>
    </div><!-- /.item_box -->
{% endfilter %}