{% filter escape %}
    <div class="row item_box">
        <input type="hidden" id="coupon_CouponDetails___name___id" name="coupon[CouponDetails][__name__][id]">
        <input type="hidden" id="coupon_CouponDetails___name___Category" name="coupon[CouponDetails][__name__][Category]">
        <input type="hidden" id="coupon_CouponDetails___name___coupon_type" name="coupon[CouponDetails][__name__][coupon_type]">
        <div class="col-11 item_detail">
            <div class="item_name_area">
                <strong class="item_name">
                    <div id="coupon_CouponDetails___name___category_name">
                    </div>
                </strong><br>
            </div>
        </div>

        <div class="col-1 icon_edit">
            <button class="btn btn-default btn-sm delete-item">削除</button>
        </div>
    </div><!-- /.item_box -->
{% endfilter %}