{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script>
    function fnAddCategoryDetail($row, id, name) {
        // ================================================================
        // 商品情報を取得.
        // ================================================================
        var list = $('#coupon_detail_list2');

        // prototype templateを取得.
        var newWidget = list.attr('data-prototype');
        // レコード数カウンタで置換.
        var cnt = coupon_details_count + 1;
        newWidget = newWidget.replace(/__name__/g, cnt);

        // フォーム入力値をセットm
        $newWidget = $(newWidget);

        $newWidget.find('#coupon_CouponDetails_' + cnt + '_Category').val(id);
        $newWidget.find('#coupon_CouponDetails_' + cnt + '_category_name').text(name);
        $newWidget.find('#coupon_CouponDetails_' + cnt + '_coupon_type').val({{ constant('Plugin\\Coupon42\\Entity\\Coupon::CATEGORY') }});

        // 明細行に追加.
        list.append($newWidget);

        // カウンタを更新.
        coupon_details_count++;

        // モーダル閉じる.
        $('#searchCategoryModal').modal('hide');

        return false;
    }
</script>
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for id, name in Categories %}
                <tr>
                    <td>
                        {{ name }}
                    </td>
                    <td>
                    </td>
                    <td class="align-middle text-end">
                        <button onclick="fnAddCategoryDetail($(this).parent().parent(), {{ id }},  '{{ name|escape('js') }}')" type="button" class="btn btn-ec-actionIcon">
                            <i class="fa fa-plus fa-lg fw-bold text-secondary"></i>
                        </button>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
